html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.parent {
  display: grid;
  height: 300px;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  gap: 20px;
  padding: 10px;
}


.start {
  background-color: grey;
  border: solid 3px;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.start:hover {
  border-radius: 10px;
  background-color: #FBD0D0;
}
.used1 {
  Background-color: #DEACF5;
}

.used2 {
    Background-color: #6237A0;
}
