html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wholepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to top, #ffd1d1, #ebebeb);
}

.break {
  height: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

.icon {
  position: absolute;
  left: 1%;
  top: 1%;
}

.selectcontainer {
  flex: 2;
  bwidth: 100%;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.select {
  border: 1px solid;
  transition: 0.5s;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.select:hover {
  transition: 0.5s;
  border-radius: 10px;
}

.display {
  flex: 7;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.hide {
  display: none;
}

.homepage {
  height: 100%;
  width: 100%;
}

.div1 {
  height: 100%;
  width: 100%;
}

.div2 {
  height: 100%;
  width: 100%;
}

.div3 {
  height: 100%;
  width: 100%;
}

.div4 {
  height: 100%;
  width: 100%;
}

.border {
  border: 2px solid;
  }
.div5 {
  height: 100%;
  width: 100%;
}
